<table style="width:80%">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Teléfono</th>
    <th>Area</th>
    <th>Paciente de</th>
    <th>historia</th>
    <th>Última actualización</th>
  </tr>
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.name %></td>
      <td><%= patient.email %></td>
      <td><%= patient.phone %></td>
      <td><%= patient.section %></td>
      <td><%= patient.user.name %></td>
      <td><%= patient.history %></td>
      <td><%= patient.updated_at %> (<%= patient.updated_by %>)</td>
    </tr>
  <% end %>
</table>
